@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vf-bg: #fbeeea;
}

body {
  @apply bg-[var(--vf-bg)];
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.bg-texture {
  background-image: radial-gradient(rgba(0, 0, 0, 0.01) 1px, transparent 1px);
  background-size: 6px 6px;
}

.card-shadow {
  box-shadow: 0 8px 20px rgba(6, 10, 15, 0.08);
}

.polaroid {
  background: #fff;
  padding: 0.6rem;
  transform: rotate(-6deg);
}
